@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
html{font-family: 'Noto Sans KR', sans-serif;}
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.wrap{}

/* common */
.inner{
    width: 1200px;
    margin:0 auto;
}
/* float를 해제하기 위한 clear처리 */
.inner:after{
    content: '';
    display: block;
    clear: both;
}
.txt-hide{}

/* header */
.header{
    text-align: center;
    background: url(../img/header_bg.jpg) center center;
}
.header:after{
    content: '';
    display: block;
    height: 3px;
    background: url(../img/bg_header_line.jpg) center;

}
.header h1{}
.header h1 a{
    display: inline-block;
    margin-top:26px;
}
.header h1 a .img-logo{}
.header .gnb{}
.header .gnb .img-logo-m{
    display: none;
}
.header .gnb .navi{}
.header .gnb .navi > li{
    display: inline-block;
}
.header .gnb .navi > li > a{
    display: block;
    height: 78px;
    line-height: 78px;
    font-size: 19px;
    font-family: 'Nanum Myeongjo', serif;
    width: 166px;
    color: #384d33;
}
.header .gnb .navi > li > a:hover{
    font-weight: 700;
}
.header .gnb .btn-gnb-close{
    display: none;
}
.header .btn-gnb-ham{
    display: none;
}


/* container */
.container{}









/* footer */
.footer{}
.footer .info{}
.footer .info > span{}